.slider-wrapper #minPrice, .slider-wrapper #maxPrice {
    width: 50px;
}

.slider-wrapper{
    margin-bottom: 20px;
}

#inputs-wrapper{
    margin-bottom: 15px;
}
#inputs-wrapper input{
    padding-left: 5px;
}

/* Ширина слайдера цены */

#slider {
    width: 200px;
    height: 5px;
    margin: auto;

}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 13px;   /* Задаем нужную ширину */
    height: 13px;  /* и высоту */
    cursor: pointer;
    background-color: white;
    border: 1px solid #d7d7d7;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
    height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
    outline: none;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #f00;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.btn{
    padding: 2px 5px !important;

}
.filter-title {
    text-align: left;
    font-weight: bold;
    margin: 10px 0;
    font-size: 13px;
    display: inline-block;
}

.product_filter .fs-checkbox.fs-light .fs-checkbox-label{
    font-size: 13px;
    font-weight: 100;
}

.product_filter hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
#reset-wrapper{
    text-align: center;
}
.product_filter i{
    float: right;
    line-height: 38px;
    margin-right: 20px;
    cursor: pointer;
}
