.category_menu{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px !important;
}

.category_menu a{
    text-decoration: none;
    color: #434342;
}
.category_menu ul{
    padding: 0;
    margin: 0;
}
.category_menu ul li{
    padding-top: 10px;

}
.category_menu ul>li:first-child{
    padding-top: 0;
}
.category_menu ul>li{
    list-style: none;
}
.category_menu ul div.head{
    font-size: 18px;
}
.category_menu ul li.active > div{
    background: #e1223b;
    padding: 0 0 0 10px ;
    height: 30px;
    line-height: 30px;
    /*margin-bottom: 10px;*/
}
.category_menu > ul > li:first-child > div{

    height: 30px;
    line-height: 30px;
}
.category_menu ul li.active > div a{
    color: #fff;
}
.category_menu ul ul li{
    padding: 16px 0 0 20px;
}
.category_menu ul ul div.head{
    font-size: 14px;
}
.category_menu ul ul ul li{
    padding: 0 0 0 10px;
}

