.check-title{
    text-align: center;
    color: #86BC4C;
    font-weight: bold;
}

#confirm-wrapper{
    width: 100%;
    margin : auto;
}
.fa-custom{
    font-size: 14px !important;
    color: #E1223C;
    width: 15px;
}
.checkout-field{
    font-size: 14px;
}
.checkout-field span{
    margin-left: 10px;
}
#check-r{
    padding: 10px;
    width: 100%;
    margin-top: 28px;
}
#check-r i{
  margin-left: 10px;
}
#check-r span{
    font-weight: normal;
}
.b{
    font-weight: bold !important;
}
#order-id{
    background: #FFFBE0;
    padding: 2px;
    border: 1px solid #d7d7d7;
}

#total-table-wrapper{
    width: 30%;
    float: right;
    clear: both;
    margin-right: 5px;
}
#total-table-wrapper #total-table{
    margin-top: 0;
}

.check-head{
    
}
.custom-check{
    color: #86BC4C;
    font-size: 30px !important;
    padding: 0 10px;
}
#thk-title{
    text-align: center;
}
.prd-title-td{
    font-size: 12px;
    min-width: 300px;
}

.social-icon{
    width: 40px;
    height: 40px;
    background: url("../img/08.png");

    display: inline-block;
}

.vk{
    background-position: -168px 0;
}
.fb{
    background-position: 0 0;
}
.tw{
    background-position: -84px 0;
}
.go{
    background-position: -252px 0;
}
.social-block{
    margin-top: 20px;
    text-align: center;
}
