
.prd-char-tbl {
    display: table;
    width: 100%;
    font-size: 11px;
    margin: 10px 0;
    /*padding-bottom: 16px;
    border-bottom: 1px solid #d7d7d7;*/

}
.prd-char-tbl .row{
    display: table-row;

}
.prd-char-tbl .td{
    display: table-cell;
    padding: 4px 0 ;
    background: url('../img/dotted.gif') 0 20px repeat-x;
}
.prd-char-tbl .td:nth-child(2){
    text-align: right;
    vertical-align: bottom;
}

.product-left{
    width: 50%;
    float: left;
    padding-bottom: 25px;
}
.product-right{
    width: 47%;
    float: right;
}
.prd-title{
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}
.prd-sku, .prd-color{
    font-size: 14px;
}
.prd-short-txt{
    padding: 15px 0;
    font-size: 12px;
    border-bottom: 1px solid #d7d7d7;
}

.new-label{
    display: inline-block;
    padding: 4px 15px;
    background: #E1223B;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom-right-radius: 18px;
}
.grey{
    background: #D2D2D2;
    padding: 2px 15px;
    font-size: 12px;
}
#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    float: right;
    position: relative;
    top: 10px;
    left: 6px;
}

#color-select, .zoom{
    width: 50%;
}
#color-select{
    float: left;
}
.zoom, .zoom img{
    float: right;
}
.zoom img{
    margin: 20px 20px 0 0;
}
#color-select{
    color: #968c85;
    font-size: 12px;
}
#color-select ul, #share-social{
    list-style: none;
    padding: 0;
    margin: 3px 0 2px 0;
    display: inline-block;
}
#color-select ul li, #share-social li{
    display: inline-block;
}
.prd-image{
    margin-bottom: 5px;
}
#color-but-wrapper{
    border-bottom: 1px solid #d7d7d7;
}
#img-slider div{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 25px;
}
#color-select .active{
    background: url('../img/active-color.png') 50% 100% no-repeat;
    padding-bottom: 10px;
}
.slider-arrow{
    width: 12.5% !important;
    margin-top: 40px  !important;
}
#tehnology{
    font-size: 12px !important;
    margin-top: 25px !important;
    text-indent: 0 !important;
    padding-bottom: 20px;
}

.important{
    color: #E1223B;
    font-weight: bold;
}
#prd-wrapper-right{
    padding: 15px;
    border: 2px dashed #d7d7d7;
    margin-bottom: 20px;
}
#attributes_short{
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
}
.share-btn{
    display: inline-block;
    background-color: #edecec;
    padding: 2px 10px;
    border-bottom-right-radius: 12px;

}


.prd-price{
    font-weight: bold;
    font-size: 20px;
    color: #929191;
    display: inline-block;
}
#price-wrapper{
    margin-top: 20px;
    border-top: 1px solid #d7d7d7;

}
#prd-wrapper{
    overflow: hidden;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #d7d7d7 !important;
}
.nav-tabs a{
    color: #333333
}

.tab-content p{
    font-size: 13px !important;
}
.tab-content{
    padding-top: 15px;
}
.tab-content .desc{
    width: 70%;

}

.tab-content .prd-char-tbl{
    margin-top: 0 !important;
    border-bottom: none;
    padding-bottom: 0;
}
.attach-file{
    height: 30px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    display: inline-block;

}
.attach-file span{
    padding-left: 15px;
}

.main-img{
    text-align: center;
}

