
/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.bootstrap-styles {
    @import (less) url("bootstrap.css");
}

/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "CenturyGothicRegular"; */
@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'CenturyGothicRegular';
    color: #434342;
}
h1{
    font-size: 18px;
    color:#e1223b ;
}

h2.title{
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    color: #968c85;
}

h4{

}
p{
    margin: 0;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.clear{
    clear: both;
}

.slogan{
    font-family: MyriadProRegular;
    margin: 0 0 0 10px;
    float: left;
}
    .slogan .red{
        color: #e1223b;
        background: url("../img/a.png") no-repeat 100% 0;
        padding: 5px 35px 5px 0;
    }

#wrapper{
    width: 1280px;
    margin: auto;
    padding-top: 30px;
}

#header{
    height: 122px;
    position: relative;
}

.hor_menu{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 33px;
    width: 100%;
    line-height: 33px;
}
    .hor_menu li {
        display: inline-block;
        padding: 0 22px;
        font-size: 18px;
    }
        .hor_menu li a {
            text-decoration: none;
            color: #434342;
        }
        .hor_menu li.active{
            background: #e1223b;
        }
        .hor_menu li.active a{
            color: #FFF;
        }

#header_menu{
    position: absolute;
    bottom: 0;
    background: #f4f3f3;
    border-bottom: 4px solid #e1223b;
}

#logo{
    float: left;
    margin: 0 0 0 140px;
}
#search{
    width: 240px;
    margin: 0 0 0 30px;
    height: 22px;
    position: relative;
    bottom: 5px;
    float: left;
    padding: 0 0 0 5px;
    font-size: 16px;
    border: 1px solid #d7d7d7;
    background: url("../img/search.png") no-repeat 99% 50%;
}
    ::-webkit-input-placeholder {
        font-style: italic;
        font-size: 16px;
        overflow: visible;
    }
    ::-moz-placeholder          {font-style: italic; font-size: 16px; }/* Firefox 19+ */
    :-moz-placeholder           {font-style: italic; font-size: 16px; }/* Firefox 18- */
    :-ms-input-placeholder      {font-style: italic; font-size: 16px; }

.phones{
    float: left;
    font-size: 16px;
    margin: 5px 0 0 125px;
} 
#cart{
    float: left;
    font-size: 14px;
    position: relative;
    bottom: 35px;
    margin: 0 0 0 80px;
    padding: 20px 0 10px 70px;
    background: url("../img/cart.png") no-repeat 0 0;
}
    #cart #head{
        font-size: 16px;
    }
#under_menu{
    height: 54px;
    background: url("../img/bg-line.png");
    overflow: visible;
    line-height: 54px;
    color: #7f746c;
}
    #under_menu .breadcrumbs{
        float: left;
        margin-left: 150px;
        font-size: 12px;
    }
        #under_menu .breadcrumbs a{

            text-decoration: none;
            font-size: 12px;
        }
        #under_menu .breadcrumbs i{

            margin: 0 10px;
            font-size: 12px;
        }
    #under_menu #cat_title{
        float: right;
        margin-right: 180px;
        font-size: 24px;
        
    }
#all{
    width: 1200px;
    height: 100%;
    border-top: 1px solid #d7d7d7;
    margin: auto;
}

#out{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
}
#left{
    float: left;
    width: 250px;
    border-right: 1px solid #d7d7d7;
}


#right{
    float: right;
    width: 250px;
}
    #right .banner{
        border: 1px solid #d7d7d7;
        height: 195px;
        width: 195px;
        margin: 12px 0 0 0 ;
        line-height: 195px;
        text-align: center;
        font-size: 24px;
        color: #d7d7d7;
        float: right;
    }
#center{
    padding: 12px 0 0 22px;
    margin: 0  0 0 250px;
    word-wrap: break-word;

}
    #center #main-page p{
        font-size: 14px;
        margin: 0;
        text-indent: 15px;

    }
    #center #main-page p.brand{
            font-weight: bold;
    }

#requisites{
    padding: 15px 0 40px 0;
}
    #requisites .title{
        font-size: 18px;
        text-align: center;
    }
    #requisites p{
        font-size: 14px;
        text-align: center;
    }
#akcii{
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
    position: relative;
}
    #akcii .inner{
        width: 680px;
        margin: auto;
        text-align: center;
    }
    #akcii .inner .product{
        width: 25%;
        text-align: center;
        float: left;


    }
    #akcii .inner h3{
        margin: 0;
        font-weight: normal;
        font-size: 18px;
    }
    #akcii .inner .desc{
        text-align: left;
        font-size: 12px;
        padding-left: 15px;
        margin: 0;
     }
    #akcii #arrow_l{
        float: left;
        position: absolute;
        top:40%

    }
    #akcii #arrow_r{
        float: right;
        position: absolute;
        top:40%;
        right:0;
    }

#advantages{

    padding-bottom: 20px;
}
    #advantages h3{
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
    }
    #advantages p{
        font-size: 12px;
        font-weight: normal;
        margin: 0;
    }
    #advantages .col-1{
        float: left;
        width: 370px;
        margin-left: 50px;

    }
    #advantages .col-2{
        float: right;
        width: 370px;
        margin-right: 50px;
    }
#footer{}
#footer #footer_menu{
    border-top: 4px solid #e1223b;
}
#counters{
    width: 200px;
    float: left;
    margin: 0 0 0 200px ;
}
#studio{
    float: left;
    margin-left: 100px;
    text-align: center;
}
#studio p{
    margin: 0;
}

.working_time{
    float: left;
    text-align: center;
    padding: 0 24px;
    font-size: 14px;
    height: 43px;
    margin-top: 5px;

}
    .working_time.first{
        margin-left: 240px;
        border-right: 1px solid #d7d7d7;
    }

    .working_time.second {

    }
.footer_bottom{
    margin-top: 20px;
}
.f12{
    font-size: 12px !important;
}

.f13{
    font-size: 13px !important;
}

.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f24{
    font-size: 24px;
}

.product-item-grid{
    width: 222px;
    float: left;
    height: 300px;
    margin: 5px 5px;
    position: relative;
    font-family: arial, sans-serif;


}

.product-item-grid .sku{
    display: inline-block;
    font-size: 11px;
    color: #929292;

}
.prd-info-box{
    padding: 0 10px 0 10px;
}

.product-inner{

    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 2px 4px 5px -2px rgb(221, 221, 221);
    -moz-box-shadow: 2px 4px 5px -2px rgb(221, 221, 221);
    box-shadow: 2px 4px 5px -2px rgb(221, 221, 221);
    margin: -1px !important;
    height: 100%;
}
.product-inner:hover{

    border: 1px solid #cbcbcb;
    border-bottom: none;
    -webkit-box-shadow: 2px 4px 5px -2px #cbcbcb;
    -moz-box-shadow: 2px 4px 5px -2px #cbcbcb;
    box-shadow: 2px 4px 5px -2px #cbcbcb;
    margin: -1px !important;
    height: 100%;
}

    .product-item-grid .product_desc{
        font-size: 11px !important;
        text-indent: 0 !important;
        margin-top: 5px !important;
    }
    .product-item-grid .product-title a{
        font-size: 14px;
        color: #568da7;

    }
    .product-item-grid .product-img{
        text-align: center;
    }
    .product-item-grid .product-btn{

        margin: 10px auto;
        width: 100%;
    }
.center-pag{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.product-item-list{
    border: 1px solid #d7d7d7;
    position: relative;
    margin: 10px 0;
    height: 152px;
    display: table;
    width: 100%;
}
    .product-item-list .desc_block{
        display: table-cell;
        vertical-align: middle;
        width: 500px;
    }
    .product-item-list .product_desc{
        font-size: 12px !important;
        text-indent: 0 !important;
    }
    .product-item-list .product-title{
        font-size: 15px;
        color: #E1223B;
        text-align: center;
    }
    .product-item-list .product-img{
        display: table-cell;
        width: 150px;
    }
    .product-item-list .product-btn{
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
form#sorter-form div {
    float: right;
    margin: 0 0 0 20px;
}

/*#breadcrumbs{
    display: inline-block;
}*/

form#sorter-form{
    overflow: hidden;
    padding-bottom: 5px;
}
.add-to-wishlist{
    display: block;
    margin-top: 10px;
    text-decoration: none !important;
}
.price{
    font-size: 18px;
    color: #595959;
    font-weight: bold;
    float: left;
    margin-top: 15px;
}
form#sorter-form button{
    color: #E1223B;
    background: none;
    border: none;
    font-size: 21px;
}
form#sorter-form .display{
    float: left;
    margin-top: 27px;
}

form#sorter-form .display .active{
    background: #E1223B;
    border-radius: 5px;
    color: white;
}

/*Корзина*/

.cart{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.cart td{
    padding: 4px;
}
.cart tr{
    border: 1px solid #d7d7d7;
    border-left: none;
    border-right: none;
}
.cart thead{
    font-size: 14px;
    font-style: italic;
}
.cart thead tr{
    border:none;
}
.cart input{
    width: 40px;
}
.cart .del a{
    font-size: 40px;
    color: #E1223B;
    cursor: pointer;
    font-family: Times New Roman;
    text-decoration: none;
}
.cart .art{
    font-size: 12px;
}
.cart .prd-title{
    font-size: 14px;
    font-weight: bold;
    min-width: 200px;
    display: inline-block;
}
.cart .discount{
    color: #e8b147;
}

.cart .count{
    border-right: 1px solid #d7d7d7;
    width: 170px;
}

.cart .count > div{
    width: 50%;
    float: left;
}
.cart .curr{
    font-size: 14px;
}
.cart  .cart-price{
    font-weight: bold;
    min-width: 90px;
}
.cart  .total{
    font-weight: bold;
    width: 110px;
}
#cart-form{
    margin-top: 20px;
    padding-left: 50px;
}
#cart-form .info{
    font-weight: normal;
    font-size: 12px;
    color: #9A9A9A;
    display: block;
}


#cart-form form > div{
    width: 33%;
    float: left;
}
#cart-form input[type=text] {
    padding: 7px;
    margin: 10px 0;
    border: 2px solid #d7d7d7;
    width: 90%;
}
#cart-form input[type=text]:focus {

}

#cart-form textarea {
    padding: 7px;
    margin: 10px 0;
    border: 2px solid #d7d7d7;
    width: 90%;
}
#cart-form .second .building {
    margin: 10px 0 0 0;
}

#cart-form .second .building input{
    width: 22%;
    margin: 0 5.7% 0 0;
}
#cart-form p{
    margin: 8px;
}
#cart-form #dev-method{
    margin-top: 15px;
    font-size: 14px;

}
#cart-form #dev-method span{
    padding: 0 0 5px 29px;
    width: 85%;
    margin-top: -8px;

}
#cart-form #dev-method .help-block{
   /*  padding-bottom: 10px;*/

}
#cart-form .third span{}
#cart-form #dev-method-title, #pay-method-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    font-style: normal !important;
}

.bg-dashed{
    background: #fffbe0;
    border: 2px dashed #d7d7d7;
    width: 90%;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;

}
#pay-method label{
    font-style: italic;
    font-size: 13px;

}

#pay-method p .curr-simbol
{
    display: inline;
    font-weight: bold;
    font-size: 15px;
    color: #1c9c8f;
    margin-left: 10px;
    font-family: sans-serif;
}

#pay-method img
{
    padding: 0 0 0 10px;
}

.visa{

    position: relative;

}

#total-table {
    display: table;
    width: 90%;
    font-size: 12px;
    font-weight: bold;
    margin: 20px 10px 0 0;
}
#total-table .row{
    display: table-row;

}
#total-table .td{
    display: table-cell;
    padding: 4px 0 ;
}
#total-table .td:nth-child(2){
    text-align: right;
}
#total-table .total-row{
    color: #c66145;
    padding-top: 20px;
    font-size: 22px;
}
#confirm-btn{
    background: #db403e;
    color: white;
    text-transform: uppercase;
    width: 200px;
    padding: 7px 0;
    border-radius: 20px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    border: none;
    display: inherit;
    outline: none;
    text-decoration: none;
}

#main-cart{
    width: 90%;
    margin: auto;
}

#cart-form ::-webkit-input-placeholder {
    font-style: normal;
    font-size: 14px;
    overflow: visible;
}
#cart-form ::-moz-placeholder          { font-size: 14px; }/* Firefox 19+ */
#cart-form :-moz-placeholder           { font-size: 14px; }/* Firefox 18- */
#cart-form :-ms-input-placeholder      { font-size: 14px; }

#promo-code{
    border: 2px solid #86bc4c !important;
    margin-right: -25px !important;
    outline: none;
    color: #86bc4c;
}
#promo-code::-webkit-input-placeholder{
    color: #86bc4c !important;
}
#promo-code ::-moz-placeholder{
    color: #86bc4c !important;
}
#promo-code :-moz-placeholder{
    color: #86bc4c !important;
}
#promo-code :-ms-input-placeholder{
    color: #86bc4c !important;
}
.third #ok-btn{
    height: 35px;
    color: white;
    background: #86bc4c;
    width: 50px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    position: relative;
    right: 25px;
}

.fs-checkbox-radio .fs-checkbox-flag{
    background: #e1223b !important;
}
.fs-number-element{
    padding: 0 10px 0 15px !important;
    /*border: 1px solid #D7D7D7 !important;*/
}
.fs-light{
    width: 100%;
    margin: 0 !important;
}
.fs-checkbox-label{
    display: inline-block;
}
.summary{
    clear: both;
}
.fs-number.fs-light{
    margin: 0;
}
#refresh{
    line-height: 40px;
    font-size: 20px;
    color: #86BC4C;
    cursor: pointer;
}
.cart .decoration{
    text-decoration: line-through;
    color: #DBDBDB;
}

.cart .new-price{
    color: #86BC4C;
}
#cart-form .error{
    color: #e1223b;
    margin: 0;
}
.help-block{
    margin: 0;
    font-weight: normal;
}
.has-error input{
    border: 2px solid #a94442 !important;
}
.has-success input {
    border: 2px solid #3C763D !important;
}

.has-error input::-webkit-input-placeholder{
    color: #A94442 !important;
}
.form-group{
    margin: 8px;
}
#pay-method .control-label, #dev-method .control-label{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
    font-style: normal !important;
}

.main-info{
    width: 345px;
}

.prd-title a{
    color: #000;
    text-decoration: none;
}
.sticker{
    float: right;
}
.stickers-wrapper{
    position: absolute;
    right: 0;
    width: 100px;
}

.product-item-grid .product-title{
    text-align: left;
    font-size: 14px;
}
.ratings div{
    display: inline-block;
}
.comments-count{
    font-size: 11px;
}

.sku, .ratings{
    margin-top: 8px ;
}
.curr{
    font-weight: normal;
    font-size: 15px;
}
.buy-btn{
    padding: 4px 10px;
    background: #E1223B;
    border-bottom-left-radius: 12px;
    display: inline-block;
    float: right;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    /*letter-spacing: 2px;*/
    cursor: pointer;
    border: none;
    outline: none;
    font-family: CenturyGothicRegular;


}
.buy-btn:hover{
    color: #FFF;
    text-decoration: none;
}
.delivery-icon{
    display: inline-block;
    float: right;
    line-height: 40px;
}

.text-stickers{
    position: absolute;
    width: auto;
    height: 22px;
    top: 88px;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 8px;
    border-bottom-right-radius: 15px;
}
.text-stickers.rassrochka {
    background-color: #8bc144;
}
.price-box{
    float: left;
    font-size: 12px !important;
}
.price-box .old-price{
    font-weight: bold;
    text-decoration: line-through;
    margin-top: 3px;
    position: relative;
    top: 5px;
}
.price-box .old-price .curr{
     font-size: 12px;
 }

.price-box .new-price{
    font-weight: bold;
    font-size: 18px;
    color:#E1223B;
}

.attributes.por {
    z-index: 10;
    font: normal 12px Arial, Helvetica, sans-serif;
    display: none;
    position: relative;
    top: -1px;
    height: 0;
    clear: both;
}

.product-inner:hover .attributes.por{
    display: block;
    height: auto;
    width: 100%;
}

.attributes .info-popup {
    padding: 4px 10px 10px 10px;
    margin: 0 -1px 0 2px;
}
.attributes .info-popup {

    border-bottom: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-top: none;
    margin: 0 -1px 0 -1px;
    -moz-box-shadow: 2px 3px 10px 3px rgba(250, 250, 250, 250);
    -webkit-box-shadow: 2px 3px 10px 3px rgba(250, 250, 250, 250);
    box-shadow: 2px 3px 10px 3px rgba(250, 250, 250, 250);
    z-index: 0;
    zoom: 1;
    background-color: white;
}

.attributes .info-popup .content {
    line-height: 15px;
    /* padding: 3px 14px 6px 0; */

}

.attributes .link-compare-wrap {
    padding: 0 0 10px 0;
}
.attributes .info-popup .attr-content {
    color: #595959;
    font-size: 12px !important;
    text-align: left;
    padding: 10px 0 4px 0;
    border-top: 1px solid #f0f0f0;
}
.attributes .info-popup .attr-content p {
    text-align: left;
}

.span1{
    color: #000;
}
.span2{
    color: #595959;
}

span.check-off {
    background: transparent url(http://img.allo.ua/skin/frontend/enterprise/allov2/images/sprite-all.png) no-repeat -277px -95px;
}
.link-compare-wrap a {
    border-bottom: 1px dashed;
}

.link-compare-wrap a:hover {
    color: #4369a8;
    text-decoration: none;
}
span.check-box {
    display: inline-block;
    height: 13px;
    width: 13px;
    vertical-align: text-bottom;
    border: 0;
    margin-right: 3px;
    cursor: pointer;
}
.ratings .icon {
    width: 12px;
    height: 12px;
    background-position: -307px -95px;
    vertical-align: sub;
    margin: 0 1px -1px 0;
}

.icon, .icon1 {
    display: inline-block;
    background: transparent url('http://img.allo.ua/skin/frontend/enterprise/allov2/images/sprite-all.png') no-repeat;
}

.ratings .add:hover {
    color: #4369a8;
}
.ratings .add {
    font-size: 12px;
    text-decoration: underline;
}
