.topOrdered{
    
}
.topOrdered .price{
    margin-top: 15px;
    font-size: 16px;
    width: 100%;
}

div[class^="top-ordered-"]{
    height: 80px;
    line-height: 80px;
    margin: 5px 0;
    border-bottom: 1px dashed #d7d7d7;
    width: 95%;
}

.circle {
    width: 30px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
.top-ordered-1 .circle{
    background: #E1223B;
}
.top-ordered-2 .circle{
    background: #E15722;
}
.top-ordered-3 .circle{
    background: #E17A22;
}
.top-ordered-4 .circle{
    background: #E19D22;
}
.top-ordered-5 .circle{
    background: #E1C122;
}

.right-part{
    width: 70%;
    float: right;
    line-height: 15px;

}
.right-part a{
    display: block;
    font-size: 13px;
    margin-top: 5px;
}
.rating{
    float: right;
    margin-right: 0;
}